@using CoreWebTest.ViewModels;
@*@model CarsListViewModel;*@
@*@{
        Layout = "_Layout";
    }*@

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
    </head>
    <body>*@

<h1>Все наши автомобили которые есть в наличии</h1>
<h3>@Model.CurrentCategory</h3> <h1>@ViewBag.Category</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.AllCars) // c помощью специалнього обьекта Model. в него передается данные при вызове вьюхи
        {
            <div class="col-lg-5">
                <img class="Img-thumbnail" src="@car.Img" alt="car.name" />
                <h2>Модель: @car.Name</h2>
                <p>Цена: @car.price.ToString("c")</p>
                <h2>Описание: @car.ShortDesc</h2>
            </div>
        

          }
         }
</div>
 @*</body>
</html>*@
